[submodule "external/finrl_api"]
	path = external/finrl_api
	url = https://github.com/mi478556/FinRL_mod.git
[submodule "external/finrl_api/finrl_mod"]
	path = external/finrl_api/finrl_mod
	url = https://github.com/mi478556/FinRL_mod.git
